#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.linked-button {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
}

.linked-button > a {
  background-color: white;
  padding: .8rem;
  border-radius: .7rem;
}


.fa-envelope::before,
.fa-linkedin-square::before {
  margin-right: .5rem;
  color: darkblue;
}


h2 {
  text-align: left;
  margin-top: 3rem;
}

h2 + p {
  text-align: justify;
}

i {
  margin-right: 2rem;
  
}